{#
  Event list item

  Template for an Event List Item.

  * Available variables:
  * - attributes: For additional HTML attributes not already provided.
  * - modifier_class: Additional CSS classes to change look and behavior.
  * - su_event_start_month: Starting month of the event.
  * - su_event_start_date: Date of the event
  * - su_event_end_month: Ending month of the event if it spans more than one day.
  * - su_event_end_date: Ending day of the event if it spans more than one day.
  * - su_event_audience: Optional audience for the event.
  * - su_event_headline: Title of the event. Can be a link off to another website.
  * - su_event_subheadline: Optional subtile for the event.
  * - su_event_dek: Descriptive dek/deck for the event.
  * - su_event_date_time: Date and time for the event.
  * - su_event_location: Where it is being held.
#}

{%- set attributes = attributes.addClass(['su-event-list-item', modifier_class]) -%}
{%- set event_url = event_url|render|striptags("<drupal-render-placeholder>")|trim -%}

{# Clean up the date fields. #}
{%- set su_event_start_date = su_event_start_date|render|striptags('<drupal-render-placeholder>') -%}
{%- set su_event_end_date = su_event_end_date|render|striptags('<drupal-render-placeholder>') -%}
{%- set su_event_start_month = su_event_start_month|render|striptags('<drupal-render-placeholder>') -%}
{%- set su_event_end_month = su_event_end_month|render|striptags('<drupal-render-placeholder>') -%}

{# Separate URL and title #}
{%- set link_attributes = create_attribute({'class': ['su-link']}) -%}
{%- set is_external = false -%}
{%- if su_event_url|render|striptags is not empty -%}
  {%- set is_external = su_event_url|render|striptags|split('//')[1] ? true : false -%}
  {%- if is_external -%}
    {%- set link_attributes = link_attributes.addClass('su-link--external') -%}
  {%- else -%}
    {%- set link_attributes = link_attributes.addClass('su-link--action') -%}
  {%- endif %}
{%- endif -%}

<div {{ attributes }}>
  <div class="su-event-list-item__date">
    <div class="su-date-stacked su-date-stacked--no-background">
      <span class="su-event-start-month">{{ su_event_start_month }}</span>
      <span class="su-event-start-date">{{ su_event_start_date }}</span>
    </div>

    {# Seperator and end date should be conditional #}
    {%- if su_event_start_date != su_event_end_date or su_event_start_month != su_event_end_month %}
      <span class="su-event-list-item__date__seperator">&ndash;to&ndash;</span>

      <div class="su-date-stacked su-date-stacked--no-background">
        <span class="su-event-end-month"> {{ su_event_end_month }}</span>
        <span class="su-event-end-date">{{ su_event_end_date }}</span>
      </div>
    {% endif %}
  </div>

  <div class="su-event-list-item__details">

    {# Event Type  #}
    {%- if su_event_type|render|striptags('<drupal-render-placeholder>') is not empty %}
      <span class="event_list_item__type">{{- su_event_type -}}</span>
    {%- endif -%}

    {# Event Title  #}
    {%- if su_event_url|render|striptags is empty -%}
      {{- su_event_headline -}}
    {%- else -%}
      <h2><a {{ link_attributes }} href="{{ su_event_url }}">{{ su_event_headline|render|striptags }}</a></h2>
    {%- endif -%}

    {# Event Subheadline  #}
    {%- if su_event_subheadline|render|striptags('<drupal-render-placeholder>') is not empty %}
      {{- su_event_subheadline -}}
    {%- endif -%}

    {# Event Dek  #}
    {%- if su_event_dek|render|striptags('<drupal-render-placeholder>') is not empty %}
      <p class="event_list_item__dek"> {{- su_event_dek -}}</p>
    {% endif -%}

    {# Event Date/Time  #}
    {%- if su_event_date_time|render|striptags('<drupal-render-placeholder>') is not empty %}
      <p class="views-field-su-event-date-time"><span aria-hidden="true"></span> {{- su_event_date_time -}}</p>
    {%- endif -%}

    {# Event Location  #}
    {%- if su_event_location|render|striptags('<drupal-render-placeholder>') is not empty %}
      <p class="views-field-su-event-location"><span aria-hidden="true"></span> {{- su_event_location -}}</p>
    {%- endif -%}

  </div>
</div>
