{#
/**
 * Event Schedule
 */
#}

{% if region_attributes is empty %}
  {% set a_info = create_attribute() %}
  {% set a_time = create_attribute() %}
  {% set region_attributes =
    {
      info: a_info,
      time: a_time,
    }
  %}
{% endif %}

{# Separate URL and title #}
{%- set link_attributes = create_attribute({'class': ['su-link']}) -%}
{%- set is_external = false -%}
{%- if su_event_url|render_clean is not empty -%}
  {%- set is_external = su_event_url|render|striptags|split('//')[1] ? true : false -%}
  {%- if is_external -%}
    {%- set link_attributes = link_attributes.addClass('su-link--external') -%}
  {%- endif %}
{%- endif -%}

<div{{ attributes.addClass('su-event-schedule') }}>

  {%- if su_event_time|render_clean is not empty -%}
  <div {{ region_attributes.time.addClass("su-event-schedule__time") }}>
    {{ su_event_time }}
  </div>
  {%- endif -%}

  <div {{ region_attributes.info.addClass("su-event-schedule__info") }}>
    {%- if su_event_headline|render_clean is not empty -%}
      <h3 class="su-event-schedule__headline">
        {%- if su_event_url|render_clean is not empty -%}
          <a {{ link_attributes }} href="{{ su_event_url|render_clean }}">
        {%- endif -%}

        {{ su_event_headline|render_clean }}

        {%- if su_event_url|render_clean is not empty -%}
          </a>
        {%- endif -%}
      </h3>
    {%- endif -%}

    {%- if su_event_description|render_clean is not empty -%}
      <div class="su-event-schedule__description">
        {{ su_event_description }}
      </div>
    {%- endif -%}

    {%- if su_event_location|render_clean is not empty -%}
      <div class="su-event-schedule__location">
        {{ su_event_location }}
      </div>
    {%- endif -%}

    {%- if su_event_speakers|render_clean is not empty -%}
      <div class="su-event-schedule__speakers">
        {{ su_event_speakers}}
      </div>
    {%- endif -%}
  </div>

</div>
