{% set right_class = 'flex-6-of-12' %}
{% set left_class = 'flex-6-of-12' %}

<div{{ attributes.addClass('centered-container', 'su-events-details', 'flex-container', settings.extra_classes) }}>
   <div{{ attributes.addClass('flex-8-of-12', 'flex-container') }}>
    {% if content.main|render %}
      <div {{ region_attributes.main.addClass('body-region', left_class) }}>
        {{ content.main }}
      </div>
    {% endif %}

    {% if content.right|render %}
      <div {{ region_attributes.right.addClass('right-region', right_class) }}>
        {{ content.right }}
      </div>
    {% endif %}
   </div>
</div>
